body{
    margin: 0;
}
header{
    background-color: #d14635;
    max-width: 800px;
    margin: 0 auto;
}

header h1{
    color: white;
    font-family: 'Pirata One', cursive;
}

header img{
     width: 300px;
     padding: 0 20px 0px 250px;
}

main{   
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main ol li{
    list-style-type: none;
    vertical-align: middle;
}
h1 {
    color: rgb(3, 80, 110);
    font-family: 'Pirata One', cursive;
}

h2{
    font-family: 'Pirata One', cursive;
    color: rgb(3, 80, 110);
}

h3{
    color: rgb(58, 11, 3);
}
.finland {
    background-color: rosybrown;
    padding: 0 20px;
}
.finland img {
    padding: 0 50px;
}
.kenya {
    background-color: seashell;
    padding: 0 20px;
}

footer{
    background-color: rgb(162, 238, 195);
    margin: 0 auto;
    padding: 0 20px;
}
h5 {
    font-size: medium;
    font-family: 'Pirata One', cursive;
    color: white;
}